*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
     
}
 
h1{
    text-transform: uppercase;
    text-align: center;
     text-shadow: 2px 1px rgb(0, 164, 205);
     animation: myfirst1 3s ease infinite;
     font-style: initial;
}
@keyframes myfirst1{
    0%{color:rgb(230, 23, 23);}
    25%{color:  rgb(156, 48, 21);}
    50%{color:  rgb(209, 93, 15);}
    100%{color:  rgb(209, 15, 80);}
}
/* CSS HEADER*/
 
#head{
    height: 128px;
    background-image: linear-gradient(0, #337afe,#162269);
    color:#fff;
  
}
#head a{
    width: 500px;
}
#head a img{
    height: 128px;
}
/*CSS NAV*/
nav {
    margin-top: 3px;
    background-image: linear-gradient(rgb(0, 2, 95), blue);
}
ul.menutop1{
    list-style-type: none; 
    margin: 0 auto;
    padding: 0px;
    display: flex;
    width: 950px; 
}
ul.menutop1 > li{
    min-width: 200px;
    border-right: 2px groove white;
    text-align: center;
}
ul.menutop1 > li:last-child{
    border-right: none;
}
ul.menutop1 > li > a{
   color: white;
   display: block;/*quan trọng nhất*/
   padding: 15px 10px;/*quan trọng nhất*/
   text-decoration: none;
}
ul.menutop1 > li > a:hover {
    background-color: brown;
    text-decoration: underline;
    color: red;
    animation: myfirst 2s;
    -webkit-animation: myfirst 2s;
} 
@keyframes myfirst{
    from{background:rgb(214, 72, 16);}
    to{background:  rgb(214, 196, 29);}
}
h1{
    text-align: center;
    text-shadow: 3px 4px 4px red;
     
}
 
/* CSS Carosel*/
section.banner { 
    width: 40%;
    margin: 0 auto; 
}
.carousel-inner img{
    cursor: zoom-in;
}
/* CSS video*/
div.video {
    width: 80%;
    margin: 0 auto;
}
div.video iframe {
    width: 100%;
    height: 632px;
}
section.banner img {
    width:100%;
}
/* go to top */
div.gototop img {
    z-index:999;
    width: 99px;
    position:fixed;
    right: 20px;
    bottom: 52px;
   
}

 /*CSS LINK XANH TRÁI*/

section.social ul {
    list-style-type: none;
    position:fixed;
    left: -90px;
    width: 120px;
    top: 20%;
    background-color: rgb(0, 255, 0, 0.7); 
    transition: left 1s;
}

section.social ul:hover {
    left: 0;
}

section.social a {
    font-size: 30px;
}
/*CSS thong tin*/
 
p.vanban{
      font-style: oblique;
      font-weight: bold;
      line-height: 50px;
      text-align: center;
      letter-spacing: 3px;
}
div.line {
    width: 100%;
    height:5px;
    background-color: darkblue;
}
div.tieude{
    
    font-size: 50px;
    color: white;
    background-color: rgb(24, 39, 179);
    padding: 10px;
    border-radius: 40px 40px 0 0;
    text-align: center;
    width: 25%;
    margin-bottom: 0;
    }
div.video{
    margin: 0 auto;
    width: 1054px;
}
 
 /* CSS SHARE phải */
  
ul.sharing {
    list-style-type:none;
}

ul.sharing > li {
    border-bottom: 1px solid blue;
    position: fixed;
    width: 250px;
    right: -170px;
    z-index: 999;
    transition: left .5s;
    text-align: center;
}

ul.sharing > li:nth-child(1) {
    top: 200px;
    background-color: rgba(255, 0, 0, 0.4);
}

ul.sharing > li:nth-child(2) {
    top: 257px;
    background-color: rgba(0, 255, 0, 0.4);
}

ul.sharing > li:nth-child(3) {
    top: 310px;
    background-color: rgb(126, 34, 212, 0.4);
}
ul.sharing > li:nth-child(4) {
    top: 366px;
    background-color: rgba(34, 206, 212, 0.4);
}
ul.sharing > li:nth-child(5) {
    top: 421px;
    background-color: rgb(241, 80, 21,0.4);
}
ul.sharing > li:nth-child(6) {
    top: 476px;
    background-color: rgba(226, 241, 21, 0.4);
}
ul.sharing > li:nth-child(7)
{
    top: 531px;
    background-color: rgba(21, 61, 241, 0.4);
}
ul.sharing > li:nth-child(8){
    top:588px;
    background-color: rgba(241, 21, 230, 0.4);
}
ul.sharing > li:hover {
    right: 0;
}

ul.sharing > li > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}
 
/* CSS Footer*/
.logo{
    color: black;
}
.foter{
    display: inline-block;
}
.foter >b {
    background-color: rgba(6, 62, 136, 0.4);
    color:red;
    text-align:center;
    position: fixed;
    padding:8px 7px;
    left:0;
    right:0;
    bottom:0;
}
 
  /*CSS ZOOM*/
  .zoom {
    display:inline-block;
    position: relative;
    

    }
.zoom img {
    display: block;
  
    }
.zoom img::selection { 
    background-color: transparent; 
 }
 /* CSS MENU MOBILE TABLET */
  
.topnav {
    background-image: linear-gradient(0,rgb(0, 2, 95), blue);
    overflow: hidden;
  
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

 
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav .icon {
    display: none;
}
.topnav{
    display: none;
}
 
@media screen and (max-width: 600px) {
    ul.menutop1{
        display: none;
    }
    .topnav{
        display: block;
        width: 945px;
    }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    left: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}
 
@media screen and (max-width: 768px) {
        
        div.tieude{
             width: 100%;
         }
        h1{
             width: 123%;
         }
         section.banner {
            width: 146%;
            margin: 197px
        }
        header,nav, section.khung{
          width: 949px; 
         }
       
      }
@media screen and (max-width: 1024px) {
    nav{
        width: 1431px;
        margin: 0 auto;
    }
    #head{
        width: 1431px;
    }
    p.vanban {
        width: 1325px;
    }
    section.khung{
        width:1320px;
    }
    section.banner {
        width: 1106px;
        margin: 197px;
    }
    div.video iframe {
        width: 1119px;
    }
    div.tieude{
        width: 36%;
    }
    h1{
        width: 1360px;
        
    }
}
@media screen and (max-width:480px)
{    
  
      #head, .topnav{
        width: 1254px;
      }
      section.banner {
        width: 931px;    
        margin: 146px;
      }
     h1{
          width: 1028px;   
      }
      div.tieude{
          width: 641px;
      }
      p.vanban{
          width: 1155px;
      }
      div.video{
          width: 844px;
      }
     section.khung{
       width: 963px; 
      }
      ul.menutop1 > li {
          width: 100%;
          text-align: left;
      }
   }
 